name: Publish 
  
on: 
  push: 
    tags: 
      - "*" 
  workflow_dispatch: 

permissions:
  contents: read
  

jobs:
  build_wheels: 
    name: Build wheels 
    runs-on: windows-latest
        
    steps: 
      - uses: actions/checkout@v3 

      - uses: actions/setup-python@v4 
        with: 
          python-version: "3.x"
  
      - name: Install cibuildwheel 
        run: pip install cibuildwheel -qq 
      
      

      - name: Build wheels 
        run: python -m cibuildwheel --output-dir wheelhouse 
        env: 
          CIBW_BUILD: "cp39-* cp310-* cp311-* cp312-*" 
          CIBW_SKIP: "pp* *-win_arm64 *-win32"

      - uses: actions/upload-artifact@v3 
        with: 
          name: dist
          path: ./wheelhouse/*.whl 
  
  
  build_sdist:
    name: Build source distribution
    runs-on: windows-latest
    
    steps:
      - uses: actions/checkout@v3
      
      - uses: actions/setup-python@v4 
        with: 
          python-version: "3.x"
          
      - name: Install Setuptools 
        run: python -m pip install --upgrade setuptools wheel pip cython
        
      - name: Build sdist
        run: python setup.py bdist_wheel

      - uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist/*.tar.gz

  publish: 
    name: Publish 
    needs: ['build_wheels', 'build_sdist']
    runs-on: windows-latest 

    environment: 
      name: publish 

    env: 
      PYTHON_VER: "3.11" 

    steps: 
      - name: Set up Python ${{ env.PYTHON_VER }} 
        uses: actions/setup-python@v4 
        with: 
          python-version: ${{ env.PYTHON_VER }} 

      - name: Install dependencies 
        run: | 
          python -m pip install -U pip -qq 
          pip install -U twine -qq 

      - name: Download distributions 
        uses: actions/download-artifact@v3 
        with: 
          name: dist 
          path: dist 

      - name: Publish to PyPI 
        if: ${{ github.event_name == 'push' }} 
        run: twine upload dist/* -u __token__ -p ${{ secrets.PYPI_TOKEN }} --disable-progress-bar 
        

